audioop-lts
Werkzeug==2.2.2
Flask>=2.2.3
Flask_SocketIO==5.3.3
keyboard==0.13.5
mutagen==1.46.0
obs_websocket_py>=1.0
requests
PyAudio==0.2.14
pygame
pygame-ce
rich>=13.8.0
soundfile==0.12.1
tiktoken>=0.7.0
torch
torchaudio
transformers>=4.40.2
ollama>=0.6.1